body {
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A53D3D;
  overflow-x: hidden;
  text-align: center;
}

h1 {
  font-size: 30px;
}

a {
  color: #DEDEDE;
  text-decoration: none;
}

li {
  list-style: none;
  height: 37.6px;
}

@keyframes nav-hover {
  from {
    padding-top: 27px;
    background-color: #A53D3D;
    color: #DEDEDE;
  }
  to {
    padding-top: 40px;
    background-color: #DEDEDE;
    color: #A53D3D;
  }
}
@keyframes contact-hover {
  from {
    font-size: 15px;
    margin-top: 0;
  }
  to {
    font-size: 25px;
    margin-top: -3px;
  }
}
.nav__container {
  z-index: 99;
  color: #000;
  width: 600px;
  height: 500px;
  left: 5%;
  top: 30%;
  position: absolute;
  text-align: left;
}
.nav__button {
  color: #DEDEDE;
  width: 205px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #A53D3D 50%, #DEDEDE 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s, color 0.3s;
  padding-top: 27px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  font-weight: 600;
  padding: 2% 140px 2% 0.5%;
  display: block;
}
.nav__button:hover {
  background-position: -100% 0;
  color: #A53D3D;
}
.nav__button__container {
  margin-top: 60px;
  padding-left: 4px;
}
.nav__title {
  color: #DEDEDE;
  font-size: 70px;
  font-weight: 600;
  padding: 1% 0.5% 1% 0.5%;
  width: 285px;
  margin-bottom: 30px;
}
.nav__list__item {
  margin-bottom: 10px;
}

#contact {
  margin-right: 0;
}

.about, .about__title, .about__container {
  color: #A53D3D;
}
.about__container {
  box-shadow: inset 5px 5px 10px #000;
  background-color: #DEDEDE;
  margin-left: -0.95vw;
  position: relative;
  width: 100vw;
  height: 750px;
  margin-top: 100vh;
  text-align: center;
}
.about__title {
  padding-top: 70px;
  font-size: 45px;
  color: #A5973D;
}
.about__info {
  color: #DEDEDE;
  background-color: #A53D3D;
  border-color: #A5973D;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
  font-size: 26px;
  width: 60%;
  height: 400px;
  margin-left: 20%;
  padding: 15px 15px 15px 15px;
}

.portfolio, .portfolio__container {
  background-color: #A5973D;
}
.portfolio__container {
  margin-left: -0.95vw;
  position: relative;
  width: 100vw;
  height: 1200px;
  box-shadow: 0 -5px 10px #000;
  text-align: center;
  padding-top: 50px;
  list-style-type: none;
}
.portfolio__title {
  color: #DEDEDE;
  font-size: 45px;
}
.portfolio__object {
  width: 24%;
  height: 400px;
  background-color: #DEDEDE;
  margin-left: 0.85%;
  margin-right: 0.85%;
  border-radius: 10px;
  border-style: solid;
  border-color: #A53D3D;
  border-width: 5px;
  box-shadow: 5px 5px 10px #000;
}
.portfolio__object__container {
  margin-top: 60px;
  margin-left: 1%;
  margin-right: 5%;
  display: -webkit-box;
  padding: 0;
}
.portfolio__object__title {
  color: #A53D3D;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
.portfolio__object__image {
  width: 98%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  position: relative;
  float: bottom;
}
.portfolio__object__image__container {
  width: 100%;
  height: 40%;
  margin-top: 5px;
}
.portfolio__object__button {
  color: #DEDEDE;
  background-color: #A53D3D;
  font-size: 15px;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  cursor: pointer;
}
.portfolio__object__info {
  height: 28%;
  padding: 0 5% 0 5%;
  top: 200px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #DEDEDE;
  bottom: 0;
  font-size: 15px;
  left: 0;
  position: relative;
  text-align: center;
}
.footer__container {
  margin-top: 45px;
}
.footer__button, .footer__button__right, .footer__button__center, .footer__button__left {
  position: absolute;
  color: #A53D3D;
  font-weight: 700;
  font-size: 17px;
}
.footer__button__left {
  left: 40%;
}
.footer__button__center {
  position: relative;
  text-align: center;
}
.footer__button__right {
  right: 40%;
}

/*# sourceMappingURL=main.css.map */
