html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A53D3D;
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 30px;
}

a {
  color: #D2D2D2;
  text-decoration: none;
}

li {
  list-style: none;
  height: 37.6px;
}

p {
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav__container {
    width: 90%;
  }
  .nav__title {
    font-size: 60px;
  }
  .nav__sticky {
    display: none;
  }
  .nav__sticky__mobile__container {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #A53D3D;
    color: white;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px black;
    z-index: 50;
    display: none;
  }
  .nav__sticky {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #A53D3D;
    color: white;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px black;
    z-index: 50;
    display: none;
  }
  .nav__sticky__title {
    position: relative;
    float: left;
    height: 100%;
    font-size: 35px;
    font-weight: 600;
    margin: 10px 40px 0 80px;
  }
  .nav__sticky__button {
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 40px 0 0;
  }

  .portfolio__card {
    width: 100%;
  }

  .about__info {
    width: 90%;
    margin-left: 5%;
    padding: 5%;
  }

  .footer {
    height: 200px;
  }
  .footer__container {
    font-size: 20px;
  }
  .footer__button__left {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 33.3%;
    padding-top: 22px;
  }
  .footer__button__center {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 33.3%;
    padding-top: 22px;
  }
  .footer__button__right {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 33.3%;
    padding-top: 22px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav__title {
    font-size: 60px;
  }
  .nav__sticky {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: #A53D3D;
    color: white;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px black;
    z-index: 50;
    display: none;
  }
  .nav__sticky__title {
    position: relative;
    float: left;
    height: 100%;
    font-size: 35px;
    font-weight: 600;
    margin: 10px 40px 0 80px;
  }
  .nav__sticky__button {
    position: relative;
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 40px 0 0;
  }
  .nav__sticky__container {
    height: 300%;
    width: 100%;
    position: absolute;
    margin-top: -100%;
  }

  .portfolio__card {
    width: 50%;
  }

  .about__info {
    width: 80%;
    margin-left: 10%;
    padding: 60px 15px 60px 15px;
  }

  .footer {
    height: 100px;
  }
  .footer__container {
    padding-top: 43px;
  }
  .footer__button__left {
    box-sizing: border-box;
    text-align: right;
    width: 40%;
  }
  .footer__button__center {
    box-sizing: border-box;
    text-align: center;
    width: 20%;
  }
  .footer__button__right {
    box-sizing: border-box;
    text-align: left;
    width: 40%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav__title {
    font-size: 70px;
  }

  .portfolio__card {
    width: 25%;
  }

  .about__info {
    width: 60%;
    margin-left: 20%;
    padding: 100px 25px 100px 25px;
  }
  .about__container {
    background-position: center;
  }
}
.link {
  font-weight: 700;
}

.nav {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.nav__container {
  z-index: 99;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 18%;
  position: absolute;
  text-align: left;
  width: 100%;
}
.nav__button {
  color: #D2D2D2;
  width: 205px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #A53D3D 50%, #D2D2D2 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s, color 0.3s;
  font-size: 24px;
  font-weight: 600;
  padding: 0.55% 140px 0.55% 0.5%;
  display: block;
}
.nav__button:hover {
  background-position: -100% 0;
  color: #A53D3D;
}
.nav__button__container {
  margin-top: 60px;
  padding-left: 4px;
}
.nav__title {
  color: #D2D2D2;
  font-weight: 600;
  padding: 1% 0.5% 1% 0.5%;
  width: 285px;
  margin: 0 0 30px 100px;
}
.nav__list__item {
  margin-bottom: 10px;
  margin: 0 0 10px 100px;
}

.about, .about__resume, .about__info, .about__title, .about__container {
  color: #A53D3D;
  box-sizing: border-box;
}
.about__container {
  width: 100%;
  margin-top: 10vh;
  text-align: center;
  box-shadow: inset 0 5px 10px #000;
  background-image: url("../images/emmy2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.about__title {
  padding-top: 70px;
  font-size: 45px;
  color: #D2D2D2;
  text-shadow: 3px 3px 5px #000;
}
.about__info {
  box-sizing: border-box;
  color: #D2D2D2;
  background-color: #A53D3D;
  border-color: #6494AA;
  opacity: 0.9;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
  font-size: 30px;
  box-shadow: 5px 5px 5px #000;
}
.about__resume {
  height: 50px;
  width: 200px;
  background-color: #6494AA;
  color: #D2D2D2;
  font-size: 26px;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
  margin: 40px 0 90px 0;
  box-shadow: 5px 5px 5px #000;
  cursor: pointer;
}

.portfolio, .portfolio__object, .portfolio__container {
  background-color: #6494AA;
  box-sizing: border-box;
}
.portfolio__container {
  position: relative;
  width: 100vw;
  box-shadow: 0 -5px 10px #000;
  text-align: center;
  padding: 50px 0 50px 0;
  list-style-type: none;
}
.portfolio__title {
  color: #D2D2D2;
  font-size: 45px;
  text-shadow: 3px 3px 5px #000;
}
.portfolio__card {
  height: 440px;
}
.portfolio__object {
  width: 95%;
  height: 96%;
  background-color: #D2D2D2;
  position: relative;
  margin-left: 2.5%;
  border-radius: 8px;
  border-style: solid;
  border-color: #A53D3D;
  border-width: 5px;
  box-shadow: 5px 5px 10px #000;
}
.portfolio__object__container {
  width: 98%;
  box-sizing: border-box;
  margin: 60px 0 100px 1%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.portfolio__object__title {
  color: #A53D3D;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
.portfolio__object__image {
  width: 100%;
  object-fit: contain;
  border-radius: 2px;
  position: relative;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
}
.portfolio__object__image:hover {
  transform: scale(1.1);
}
.portfolio__object__image__container {
  width: 99%;
  height: 40%;
  margin-top: 0.5%;
  margin-left: 0.5%;
  text-align: center;
  overflow: hidden;
  display: block;
}
.portfolio__object__extender {
  color: #A53D3D;
  font-weight: 600;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}
.portfolio__object__button {
  color: #D2D2D2;
  background-color: #BF975E;
  position: absolute;
  width: 140px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  border-style: none;
  border-radius: 5px;
  margin-top: 10px;
  bottom: 10px;
  left: 25%;
  cursor: pointer;
}
.portfolio__object__info {
  height: 28%;
  overflow: hidden;
  padding: 0 5% 0 5%;
  top: 200px;
}

.footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #202020;
  bottom: -0.8vh;
  position: relative;
  text-align: center;
}
.footer__container {
  height: 100%;
  margin-top: -7px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.footer__button {
  position: absolute;
  color: #D2D2D2;
  font-weight: 700;
  font-size: 17px;
}

/*# sourceMappingURL=main.css.map */
