$PRIMARY: #A53D3D;
$SECONDARY: #BF975E;
$TERTIARY: #6494AA;


html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}



body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $PRIMARY;
    text-align: center;
    //z-index: 20;
}

body::-webkit-scrollbar {
    display: none;
  }

h1 {
    font-size: 30px;
}

a {
    color: #D2D2D2;
    text-decoration: none;
}

li {
    list-style: none;
    height: 37.6px;
}

p {
    margin: 0;
}

//------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav {
        &__container {
            width: 90%;
        }
        &__title {
            font-size: 60px;
        }
        &__sticky {
            display: none;
            &__mobile{
                &__container{
                    box-sizing: border-box;
                    width: 100%;
                    height: 60px;
                    background-color: $PRIMARY;
                    color: white;
                    position: -webkit-sticky;
                    position: -moz-sticky;
                    position: -ms-sticky;
                    position: -o-sticky;
                    position: sticky;
                    top: 0;
                    box-shadow: 0 5px 10px black;
                    z-index: 50;
                    display: none;
                }
            }
        }
        &__sticky {
            box-sizing: border-box;
            width: 100%;
            height: 60px;
            background-color: $PRIMARY;
            color: white;
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: 0;
            box-shadow: 0 5px 10px black;
            z-index: 50;
            display: none;
            &__title {
                position: relative;
                float: left;
                height: 100%;
                font-size: 35px;
                font-weight: 600;
                margin: 10px 40px 0 80px;
            }
            &__button {
                position: relative;
                float: left;
                font-size: 20px;
                font-weight: 600;
                margin: 20px 40px 0 0;
            }
        }
    }
    .portfolio {
        &__card {
            width: 100%;
        }
    }
    .about {
        &__info {
            width: 90%;
            margin-left: 5%;
            padding: 5%;
        }
    }
    .footer {
        height: 200px;
        &__container {
            font-size: 20px;
        }
        &__button {
            &__left{
                box-sizing: border-box;
                text-align: center;
                width: 100%;
                height: 33.3%;
                padding-top: 22px;
            }
            &__center {
                box-sizing: border-box;
                text-align: center;
                width: 100%;
                height: 33.3%;
                padding-top: 22px;
            }
            &__right {
                box-sizing: border-box;
                text-align: center;
                width: 100%;
                height: 33.3%;
                padding-top: 22px;
            }
        }
    }
}

//------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav {
        &__title {
            font-size: 60px;
        }
        &__sticky {
            box-sizing: border-box;
            width: 100%;
            height: 60px;
            background-color: $PRIMARY;
            color: white;
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: 0;
            box-shadow: 0 5px 10px black;
            z-index: 50;
            display: none;
            &__title {
                position: relative;
                float: left;
                height: 100%;
                font-size: 35px;
                font-weight: 600;
                margin: 10px 40px 0 80px;
            }
            &__button {
                position: relative;
                float: left;
                font-size: 20px;
                font-weight: 600;
                margin: 20px 40px 0 0;
            }
        }
    }
    .portfolio {
        &__card {
            width: 50%;
        }
    }
    .about {
        &__info {
            width: 80%;
            margin-left: 10%;
            padding: 60px 15px 60px 15px;
        }
    }
    .footer {
        height: 100px;
        &__container {
            padding-top: 43px;
        }
        &__button {
            &__left{
                box-sizing: border-box;
                text-align: right;
                width: 40%;
            }
            &__center {
                box-sizing: border-box;
                text-align: center;
                width: 20%;
            }
            &__right {
                box-sizing: border-box;
                text-align: left;
                width: 40%;
            }
        }
    }
}

//------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav {
        &__title {
            font-size: 70px;
        }
    }
    .portfolio {
        &__card {
            width: 25%;
        }
    }
    .about {
        &__info {
            width: 60%;
            margin-left: 20%;
            padding: 100px 25px 100px 25px;
        }
        &__container {
            background-position: center;
        }
    }   
}

//------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.link {
    font-weight: 700;
}

.nav {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    &__container {
        z-index: 99;
        box-sizing: border-box;
        height: 100%;
        left: 0;
        top: 0;
        padding-top: 18%;
        position: absolute;
        text-align: left;
        width: 100%;
    }
    &__button {
        color: #D2D2D2;
        width: 205px;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, $PRIMARY 50%, #D2D2D2 50%);
        -webkit-transition: background-position 0.5s;
        -moz-transition: background-position 0.5s;
        transition: background-position 0.5s, color 0.3s;
        font-size: 24px;
        font-weight: 600;
        padding: 0.55% 140px 0.55% 0.5%;
        display: block;
        &:hover {
            background-position: -100% 0;
            color: $PRIMARY;
        }
        &__container {
            margin-top: 60px;
            padding-left: 4px;
        }
    }
    &__title {
        color: #D2D2D2;
        font-weight: 600;
        padding: 1% 0.5% 1% 0.5%;
        width: 285px;
        margin: 0 0 30px 100px;
    }
    &__list__item {
        margin-bottom: 10px;
        margin: 0 0 10px 100px;
    }
}


.about {
    color: $PRIMARY;
    box-sizing: border-box;
    &__container {
        @extend .about;
        width: 100%;
        margin-top: 10vh;
        text-align: center;
        box-shadow: inset 0 5px 10px #000;
        background-image: url("../images/emmy2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
    &__title {
        @extend .about;
        padding-top: 70px;
        font-size: 45px;
        color: #D2D2D2;
        text-shadow: 3px 3px 5px #000;
    }
    &__info {
        @extend .about;
        box-sizing: border-box;
        color: #D2D2D2;
        background-color: $PRIMARY;
        border-color: $TERTIARY;
        opacity: 0.9;
        border-style: solid;
        border-width: 5px;
        border-radius: 30px;
        font-size: 30px;
        box-shadow: 5px 5px 5px #000;
    }
    &__resume {
        @extend .about;
        height: 50px;
        width: 200px;
        background-color: $TERTIARY;
        color: #D2D2D2;
        font-size: 26px;
        font-weight: 600;
        border-style: none;
        border-radius: 5px;
        margin: 40px 0 90px 0;
        box-shadow: 5px 5px 5px #000;
        cursor: pointer;
    }
}

.portfolio {
    background-color: $TERTIARY;
    box-sizing: border-box;
    &__container {
        @extend .portfolio;
        position: relative;
        width: 100vw;
        box-shadow: 0 -5px 10px #000;
        text-align: center;
        padding: 50px 0 50px 0;
        list-style-type: none;
    }
    &__title {
        color: #D2D2D2;
        font-size: 45px;
        text-shadow: 3px 3px 5px #000;
    }
    &__card {
        height: 430px;
    }
    &__object {
        @extend .portfolio;
        width: 95%;
        height: 96%;
        background-color: #D2D2D2;
        margin-left: 2.5%;
        border-radius: 8px;
        border-style: solid;
        border-color: $PRIMARY;
        border-width: 5px;
        box-shadow: 5px 5px 10px #000;
        &__container {
            width: 98%;
            box-sizing: border-box;
            margin: 60px 0 100px 1%;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
        }
        &__title {
            color: $PRIMARY;
            font-size: 28px;
            font-weight: 600;
            margin: 20px 0 10px 0;
        }
        &__image {
            width: 100%;
            object-fit: contain;
            border-radius: 2px;
            position: relative;
            -webkit-transition: transform 0.5s;
            -moz-transition: transform 0.5s;
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.1);
            }
            &__container {
                width: 98%;
                height: 40%;
                margin-top: 5px;
                margin-left: 5px;
                text-align: center;
                overflow: hidden;
                display: block;   
            }
        }
        &__button {
            color: #D2D2D2;
            background-color: $SECONDARY;
            width: 140px;
            height: 40px;
            font-size: 15px;
            font-weight: 600;
            border-style: none;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
        }
        &__info {
            height: 28%;
            overflow: hidden;
            padding: 0 5% 0 5%;
            top: 200px;
        }
    }
}
.footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #202020;
    bottom: -0.8vh;
    position: relative;
    text-align: center;
    &__container {
        height: 100%;
        margin-top: -7px;
        font-weight: 700;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    &__button {
        position: absolute;
        color: #D2D2D2;
        font-weight: 700;
        font-size: 17px;
        
    }
}