$PRIMARY: #A53D3D;
$SECONDARY: #A5973D;


html {
    scroll-behavior: smooth;
}


body {
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $PRIMARY;
    overflow-x: hidden;
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
  }

h1 {
    font-size: 30px;
}

a {
    color: #DEDEDE;
    text-decoration: none;
}

li {
    list-style: none;
    height: 37.6px;
}

p {
    margin: 0;
}


.nav {
    &__container {
        z-index: 99;
        color: #000;
        width: 600px;
        height: 500px;
        left: 5%;
        top: 30%;
        position: absolute;
        text-align: left;
    }
    &__button {
        color: #DEDEDE;
        width: 205px;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, $PRIMARY 50%, #DEDEDE 50%);
        -webkit-transition: background-position 0.5s;
        -moz-transition: background-position 0.5s;
        transition: background-position 0.5s, color 0.3s;
        padding-top: 27px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 24px;
        font-weight: 600;
        padding: 2% 140px 2% 0.5%;
        display: block;
        &:hover {
            background-position: -100% 0;
            color: $PRIMARY;
        }
        &__container {
            margin-top: 60px;
            padding-left: 4px;
        }
    }
    &__title {
        color: #DEDEDE;
        font-size: 70px;
        font-weight: 600;
        padding: 1% 0.5% 1% 0.5%;
        width: 285px;
        margin-bottom: 30px;
    }
    &__list__item {
        margin-bottom: 10px;
    }
}


#contact {
    margin-right: 0;
}

.about {
    color: $PRIMARY;
    &__container {
        @extend .about;
        box-shadow: inset 0 5px 10px #000;
        background-color: #DEDEDE;
        margin-left: -0.4vw;
        position: relative;
        width: 100vw;
        height: 750px;
        margin-top: 100vh;
        text-align: center;
    }
    &__title {
        @extend .about;
        padding-top: 70px;
        font-size: 45px;
        color: #A5973D;
    }
    &__info {
        color: #DEDEDE;
        background-color: $PRIMARY;
        border-color: #A5973D;
        border-style: solid;
        border-width: 5px;
        border-radius: 30px;
        font-size: 26px;
        width: 60%;
        height: 400px;
        margin-left: 20%;
        padding: 15px 15px 15px 15px;
    }
}

.portfolio {
    background-color: #A5973D;
    &__container {
        @extend .portfolio;
        margin-left: -0.4vw;
        position: relative;
        width: 100vw;
        height: 1200px;
        box-shadow: 0 -5px 10px #000;
        text-align: center;
        padding-top: 50px;
        list-style-type: none;
    }
    &__title {
        color: #DEDEDE;
        font-size: 45px;
    }
    &__object {
        width: 24%;
        height: 400px;
        background-color: #DEDEDE;
        margin-left: 0.85%;
        margin-right: 0.85%;
        border-radius: 10px;
        border-style: solid;
        border-color: $PRIMARY;
        border-width: 5px;
        box-shadow: 5px 5px 10px #000;
        &__container {
            margin-top: 60px;
            margin-left: 1%;
            margin-right: 5%;
            display: -webkit-box;
            padding: 0;
        }
        &__title {
            color: $PRIMARY;
            font-size: 28px;
            font-weight: 600;
            margin: 20px 0 10px 0;
        }
        &__image {
            width: 100%;
            object-fit: contain;
            border-radius: 2px;
            position: relative;
            -webkit-transition: transform 0.5s;
            -moz-transition: transform 0.5s;
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.5);
            }
                
            &__container {
                width: 98%;
                height: 40%;
                margin-top: 5px;
                margin-left: 5px;
                text-align: center;
                overflow: hidden;
                display: block;   
            }
        }
        &__button {
            color: #DEDEDE;
            background-color: $PRIMARY;
            font-size: 15px;
            font-weight: 600;
            border-style: none;
            border-radius: 5px;
            width: 140px;
            height: 40px;
            cursor: pointer;
        }
        &__info {
            height: 28%;
            overflow: hidden;
            padding: 0 5% 0 5%;
            top: 200px;
        }
        
    }
}
.footer {
    width: 100vw;
    height: 100px;
    background-color: #202020;
    bottom: -0.6vh;
    font-size: 15px;
    left: -0.4vw;
    position: relative;
    text-align: center;
    &__container {
        margin-top: -7px;
        padding-top: 43px;
    }
    &__button{
        position: absolute;
        color: #DEDEDE;
        font-weight: 700;
        font-size: 17px;
        &__left{
            @extend .footer__button;
            left: 40%;

        }
        &__center {
            @extend .footer__button;
            position: relative;
            text-align: center;
        }
        &__right {
            @extend .footer__button;
            right: 40%;
        }
    }
    
}