$PRIMARY: #A53D3D;
$SECONDARY: #BF975E;
$TERTIARY: #6494AA;


html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}


body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $PRIMARY;
    overflow-x: hidden;
    text-align: center;
}

body::-webkit-scrollbar {
    display: none;
  }

h1 {
    font-size: 30px;
}

a {
    color: #D2D2D2;
    text-decoration: none;
}

li {
    list-style: none;
    height: 37.6px;
}

p {
    margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav {
        &__container {
            width: 90%;
        }
        &__title {
            font-size: 60px;
        }
    }
    .portfolio {
        &__card {
            width: 100%;
        }
        &__container {
            height: 2000px;
        }
    }
    .about {
        &__info {
            width: 90%;
            margin-left: 5%;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav {
        &__title {
            font-size: 60px;
        }
    }
    .portfolio {
        &__card {
            width: 50%;
        }
        &__container {
            height: 1150px;
        }
    }
    .about {
        &__info {
            width: 80%;
            margin-left: 10%;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
//@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
//@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav {
        &__title {
            font-size: 70px;
        }
    }
    .portfolio {
        &__card {
            width: 25%;
        }
        &__container {
            height: 750px;
        }
    }
    .about {
        &__info {
            width: 60%;
            margin-left: 20%;
        }
    }
}

.nav {
    &__container {
        z-index: 99;
        box-sizing: border-box;
        color: #000;
        height: 500px;
        left: 5%;
        top: 30%;
        position: absolute;
        text-align: left;
    }
    &__button {
        color: #D2D2D2;
        width: 205px;
        background-size: 200% 100%;
        background-image: linear-gradient(to right, $PRIMARY 50%, #D2D2D2 50%);
        -webkit-transition: background-position 0.5s;
        -moz-transition: background-position 0.5s;
        transition: background-position 0.5s, color 0.3s;
        padding-top: 27px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 24px;
        font-weight: 600;
        padding: 2% 140px 2% 0.5%;
        display: block;
        &:hover {
            background-position: -100% 0;
            color: $PRIMARY;
        }
        &__container {
            margin-top: 60px;
            padding-left: 4px;
        }
    }
    &__title {
        color: #D2D2D2;
        font-weight: 600;
        padding: 1% 0.5% 1% 0.5%;
        width: 285px;
        margin-bottom: 30px;
    }
    &__list__item {
        margin-bottom: 10px;
    }
}


#contact {
    margin-right: 0;
}

.about {
    color: $PRIMARY;
    &__container {
        @extend .about;
        width: 100%;
        height: 750px;
        margin-top: 100vh;
        text-align: center;
        box-sizing: border-box;
        box-shadow: inset 0 5px 10px #000;
        background-image: url("../images/emmy2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        
    }
    &__title {
        @extend .about;
        padding-top: 70px;
        font-size: 45px;
        color: #D2D2D2;
        text-shadow: 3px 3px 5px #000;
    }
    &__info {
        height: 400px;
        box-sizing: border-box;
        color: #D2D2D2;
        background-color: $PRIMARY;
        border-color: $TERTIARY;
        opacity: 0.9;
        border-style: solid;
        border-width: 5px;
        border-radius: 30px;
        font-size: 26px;
        padding: 15px 15px 15px 15px;
        box-shadow: 5px 5px 5px #000;
    }
}

.portfolio {
    background-color: $TERTIARY;
    &__container {
        @extend .portfolio;
        position: relative;
        width: 100vw;
        box-shadow: 0 -5px 10px #000;
        text-align: center;
        padding-top: 50px;
        list-style-type: none;
    }
    &__title {
        color: #D2D2D2;
        font-size: 45px;
        text-shadow: 3px 3px 5px #000;
    }
    &__card {
        height: 420px;
    }
    &__object {
        width: 95%;
        height: 400px;
        background-color: #D2D2D2;
        box-sizing: border-box;
        margin-left: 2.5%;
        //margin-right: 0.85%;
        border-radius: 8px;
        border-style: solid;
        border-color: $PRIMARY;
        border-width: 5px;
        box-shadow: 5px 5px 10px #000;
        &__container {
            width: 98%;
            box-sizing: border-box;
            margin-top: 60px;
            margin-left: 1%;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
        }
        &__title {
            color: $PRIMARY;
            font-size: 28px;
            font-weight: 600;
            margin: 20px 0 10px 0;
        }
        &__image {
            width: 100%;
            object-fit: contain;
            border-radius: 2px;
            position: relative;
            -webkit-transition: transform 0.5s;
            -moz-transition: transform 0.5s;
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.5);
            }
                
            &__container {
                width: 98%;
                height: 40%;
                margin-top: 5px;
                margin-left: 5px;
                text-align: center;
                overflow: hidden;
                display: block;   
            }
        }
        &__button {
            color: #D2D2D2;
            width: 140px;
            height: 40px;
            background-color: $SECONDARY;
            font-size: 15px;
            font-weight: 600;
            border-style: none;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
        }
        &__info {
            height: 28%;
            overflow: hidden;
            padding: 0 5% 0 5%;
            top: 200px;
        }
        
    }
}
.footer {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: #202020;
    bottom: -0.8vh;
    font-size: 15px;
    position: relative;
    text-align: center;
    &__container {
        margin-top: -7px;
        padding-top: 43px;
    }
    &__button{
        position: absolute;
        color: #D2D2D2;
        font-weight: 700;
        font-size: 17px;
        &__left{
            @extend .footer__button;
            left: 40%;

        }
        &__center {
            @extend .footer__button;
            position: relative;
            text-align: center;
        }
        &__right {
            @extend .footer__button;
            right: 40%;
        }
    }
    
}